body {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

#header {
    position: fixed;                                /*Makes sure header remains fixed at the top on the left side of the screen*/
    top: 0px;
    left: 0px;
    z-index: 500;                                   /*header will always be at the top most part of the screen*/
    width: 100%;                                    /*Takes up full width of the screen*/
    height: 80px;
    background-image: url('images/wood-bg.png');    /*Set's the wood image as the background of the header*/
    background-repeat: repeat-x;                    /*Repeats the image horizontally until the full width of the screen*/
}

/*IMAGE FOR THE HEADER (Logo for Zoo)*/

#header img {
    display: block;                                 /*Makes sure we are able to adjust height and width of the image*/
    margin: auto;                                   /*Centralize object on the header of the screen (horizontally centralized*/
    height: 70%;
    padding-top: 15px;                              /*Leaves some space from top of image*/
}

/*TOP TAB*/

#top-tab {
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color: darkgreen;
}

/*Hyperlinks for the top tabs*/
#top-tab a {
    float: left;
    display: block;
    width: 33%;                                     /*Width of the hypoerlinks for the top tabs, in orde to add other tabs at the top I will need to edit this width*/
    height: 35px;
    font-weight: 700;
    color: white;
    text-align: center;                             /*Center aligns the hyperlinks*/
    text-decoration: none;
    padding-top: 12px;
}

/* MAIN HOME*/

#main-home {
    margin-top: 120px;                              /*Leaves space of 120px from top of screen till top of main home section. The 120px is derived from height of header(80px) + height of top tabs (40px) = 120px*/
}

/* BOTTOM TABS*/

#bottom-tabs {
    position: fixed;
    bottom: 0;                                      /*Makes sure tabs are forever at the bottom*/
    left: 0;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color: forestgreen;
}

#bottom-tabs a {
    display: block;
    width: 50%;                                      /*Half of screen width*/
    height: 35px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
}


